body {
  font-family: 'Source Sans Pro';
}

h2 {
  text-align: center;
  color: teal;
  padding-top: 0;
  margin-bottom: 30px;
}

p, li {
  font-size: 1.2rem;
}

div.container {
  max-width: 700px;
  width: 80%; /* combined with max-width above and margin ...auto below,
      makes body centred and not full width, and closer to edge when <700px wide */
  padding: 20px; /* this puts a padding inside the body box */
  margin: 10px auto;
}

author {
  text-transform: uppercase;
  letter-spacing: 2px;
}

hr {
  background: teal;
}

/**********      portfolio page     *******/

img.portfolio {
  width: 100%;
  padding: 2%;
  border: 2px solid #ddd;
}

/*********     contact page     *******/
form {
  background-color: mediumturquoise;
}

.form-group {
  margin: 10px;
}

.form-group input {
  margin-top: 20px;
}

.form-group input,
textarea {
  display: block; // to consistently move input boxes onto new line
}

#submit-button input {
  margin-left: 40px;
  background-color: greenyellow;
}

#submit-button input:hover {
  background-color: forestgreen;
  cursor: pointer; // formspree.io function works cursor doesn't become pointer by default
}

/**********     footer     *************/

footer.container {
  background-color: #777;
}

footer p {
  font-size: .9rem;
}
